.meet {
    width: 100%;
    /* border: 2px solid black; */
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
}

.meet > h1 {
    font-size: 3rem;
    color: rgb(22, 72, 22);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(to right, rgb(239, 239, 239), white);
}

.meet_video {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}

.meet_video > iframe {
    max-width: 400px;
}

@media (max-width:480px) {
    .meet {
        height: 100%;
        margin-top: 0;
    }
    .meet_video {
        flex-direction: column;
        /* background-color: red; */
    }
    .meet_video > iframe {
        min-width: 300px;
        min-height: 150px;
        margin: 10px;
    }
    .meet > h1 {
        font-size: 2rem;
    }
}