.operating {
    height: 100%;
    margin-top: 170px;
    background: linear-gradient(to right, rgb(224, 255, 224), white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    color: rgb(16, 76, 16);
    box-shadow: 0px -10px 10px rgb(225, 225, 225);
}

.operating > h1 {
    font-size: 4rem;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.operating > p {
    border-bottom: 2px solid rgb(16, 76, 16);
    margin-bottom: 50px;
}


.operating > img {
    width: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    /* border: 2px solid green; */
}


.locationPointer {
    position: absolute;
    color: red;
    animation: pointer 2s infinite ease-in-out;
    /* border: 2px solid red; */
}

.lpDelhi {
    left: 43%;
    top: 27%;
}
    .locationPointer:hover {
       color: greenyellow; 
       text-emphasis: none;
    }
.lpM {
    left: 38%;
    top: 55%;
}
.lpMp {
    left: 45%;
    top: 50%;
}
.lpUp {
    top: 32%;
    left: 47%;
}
.lpU {
    top: 20%;
    left: 45%
}
.lpAp{
    top: 23%;
    left: 64%;
}
.lpHp {
    top: 14%;
    left: 43%;
}

@keyframes pointer {
    0% { transform: translateY(0) }
    25% { transform: translateY(5px) }
    50% { transform: translateY(-5px) }
    75% { transform: translateY(5px) }
    100% { transform: translateY(0) }
}

.bgMap {
    background-image: url("https://www.downloadclipart.net/large/india-map-png-file.png");
    width: 100%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

@media (max-width: 480px) {
    .operating > h1 {
        font-size: 2rem;
    }
    .lpDelhi{
        top: 28%;
        /* background-color: aqua;  */
        left: 30%;
    }
    .lpM{
        /* background-color: red; */
        top: 59%;
        left: 18%;
    }
    .lpMp{
        /* background-color: blue; */
        top: 48%;
        left: 30%;
    }
    .lpUp {
        top: 35%;
        left: 44%;
    }
    .lpU {
        top: 25%;
        left: 38%
    }
    .lpAp{
        top: 26%;
        left: 89%;
    }
    .lpHp {
        top: 20%;
        left: 30%;
    }
}