.aboutus_para {
    /* background-color: black; */
    width: 85%;
    margin: auto;
    color: rgb(22, 72, 22);
    font-family: 'Inter', sans-serif;

}

.aboutus_para > h1 {
    font-size: 3rem;
    text-align: center;
    padding: 30px;
    /* font-weight: 600; */
}

.aboutus_para > p {
    padding: 10px;
    font-size: 1.4rem;
}

.aboutus_para > h2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* font-family: 'Water Brush', cursive; */
    /* font-family:  cursive; */
    font-family: 'Caveat', cursive;
    font-weight: 700;
    color: rgb(3, 108, 29);
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
}