.aboutUs {
    padding-top: 50px;
    padding-bottom: 15px;
    background-color: #04293ae4;
}

.aboutUs__info {
    width: 90%;
    margin-left: 5%;
    background-color: #06466372;
    border-radius: 10px;
    padding-top: 40px;
}
.aboutUs__container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid white; */
    margin-bottom: 15px;
}

.aboutUs__containerimage1{
    width: 600px;
    /* border: 1px solid yellowgreen; */
} 

.aboutUs__containerPara {
    /* height: 600px; */
    width: 500px;
    font-size: 1.2rem;
    line-height: 1.6;
    /* border: 1px solid yellow; */
}

.aboutUs__containerPara > p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.aboutUs__container2>span>h1 {
    text-align: center;
    margin-bottom: 10px;
}
.aboutUs__containersPara2 {
    text-align: center ;
}


.aboutUs__container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid white; */
    margin-top: 40px;
    margin-bottom: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.aboutUs__containerimage2 {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
}

.aboutUs__ourTeamBox1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.aboutUs__ourTeamBox1>span>p {
    font-size: 3rem;
    font-weight: 900;
    margin-left: -50px;
}

.aboutUs__containerimage3{
    width: 600px;
}